<div ng-if="res.status == 0" class="alert alert-danger ng-binding" ng-bind-html="res.message"></div>
<div ng-if="res.status == 1" class="alert alert-success ng-binding" ng-bind-html="res.message"></div>

<div class="box">
    <div class="box-header">
        <h2>Di chuyển nhân vật {{charChoose.Name}}</h2>
    </div>
    <div class="box-divider m-a-0"></div>
    <div class="alert alert-info m-3">
        1. Zen rửa tội phải để ở trong nhân vật<br>
        2. Có thể rửa tội trong game bằng lệnh <b>/clearpk</b>
    </div>

    <div class="box-body">
        <table class="table table-striped table-bordered table-hover table-heading no-border-bottom">
            <thead class="vd_bg-blue vd_white" align="center">
            <tr>
                <th>PK</th>
                <th>Phí</th>
            </tr>
            </thead>
            <tbody>

            <tr align="center">
                <td align="center">PK <= 99</td>
                <td align="center">10.000.000 ZEN</td>
            </tr>
            <tr align="center">
                <td align="center">PK > 99</td>
                <td align="center">500 Bạc</td>
            </tr>
            </tbody>
        </table>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">Đổi nhân vật</label>
            <div class="col-sm-7">
                <span class="label green-500" ng-show="charChoose.doinv">Đã đổi</span>
                <span class="label red-500" ng-show="!charChoose.doinv">Chưa đổi</span><br>
                <small>(Sau khi đổi nhân vật khác trong Game, hãy chọn lại nhân vật)</small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">Thoát game</label>
            <div class="col-sm-7">
                <label class="label green-500" ng-show="charChoose.online">Đã thoát</label>
                <label class="label red-500" ng-show="!charChoose.online">Chưa thoát</label>
            </div>
        </div>
    </div>
    <div class="dker p-a text-center">
        <button type="submit" class="btn btn-info" ng-click="submit()">Submit</button>
    </div>
</div>
