<div class="box">
    <div class="box-header">
        <h2>Chợ trời MU ONLINE</h2>
    </div>
    <div class="dker box-body">
        <div class="row">
            <div class="col-md-4">
                <select ng-model="selectClass" class="form-control input-c" ng-init="selectClass='0'" ng-change="submit(0, selectClass, selectGroup, searchKey)">
                    <option value="0" selected="selected">- Tất cả chủng tộc -</option>
                    <option value="1">Đồ của Phù Thủy</option>
                    <option value="2">Đồ của Chiến Binh</option>
                    <option value="3">Đồ của Tiên Nữ</option>
                    <option value="4">Đồ củ Đấu Sĩ</option>
                    <option value="5">Đồ của Chúa Tể</option>
                    <option value="6">Đồ của Thuật sĩ</option>
                    <option value="7">Đồ của Quyền Binh</option>
                    <!--                        <option value="8">Đồ của Thương Thủ</option>-->
                    <!--                        <option value="9">Đồ phụ trợ</option>-->
                </select>
            </div>

            <div class="col-md-4">

                <select ng-init="selectGroup=''" class="form-control input-c" ng-model="selectGroup" ng-change="submit(0, selectClass, selectGroup, searchKey)">
                    <option value="">- Tất cả các loại -</option>
                    <!--                        <optgroup label="--Hàng bán buôn--">-->
                    <!--                            <option value="SetItem" style="color:red">Đồ bán theo bộ</option>-->
                    <!--                            <option value="GroupItem" style="color:red">Nhóm bộ</option>-->
                    <!--                            <option value="HionItem" style="color:red">Đồ Thần</option>-->
                    <!--                        </optgroup>-->
                    <optgroup label="--Giáp--">
                        <option value="14">Cánh</option>
                        <option value="9">Mũ</option>
                        <option value="10">Áo giáp</option>
                        <option value="11">Găng tay</option>
                        <option value="12">Quần</option>
                        <option value="13">Giầy</option>
                    </optgroup>
                    <optgroup label="--Vũ khí--">
                        <option value="0">Kiếm - Đao</option>
                        <option value="1">Rìu</option>
                        <option value="2">Chùy - Trượng</option>
                        <option value="3">Giáo</option>
                        <option value="7">Gậy</option>
                        <option value="5">Cung</option>
                        <option value="6">Nỏ</option>
                        <option value="8">Khiên</option>
                    </optgroup>
                    <optgroup label="--Hỗ trợ--">
                        <option value="16">Nhẫn</option>
                        <option value="17">Vòng cổ</option>
                        <option value="15">Thú nuôi</option>
                        <option value="20">Jewel</option>
                        <option value="21">Sách</option>
                        <option value="28">Thuộc Tính</option>
                        <option value="31">Các đồ khác</option>
                    </optgroup>
                </select>
            </div>
                <!--<div class="col-md-3">
                    <select name="index" id="selectItem" onchange="GTVN.submitTarget(this.form, '#Main');">

                        <option value="0">- Tất cả -</option>
                        <option value="6286">Cụm Ngọc Hỗn Nguyên</option>
                        <option value="6282">Cụm Ngọc Sáng Tạo</option>
                        <option value="6868">Đá Tiến Hóa</option>
                        <option value="6875">Dơi</option>
                        <option value="6876">Dơi Vương</option>
                        <option value="7347">Gầm Phượng Hoàng</option>
                        <option value="7348">Linh Hồn Tử Thần</option>
                        <option value="7236">Lông Phượng Hoàng</option>
                        <option value="6710">Lông vũ Condor</option>
                        <option value="6671">Lông vũ xanh</option>
                        <option value="7346">Mảnh Ghép Địa Ngục</option>
                        <option value="6874">Mỹ Nhân Ngư</option>
                        <option value="7329">Ngọc Chiến Thắng</option>
                        <option value="6160">Ngọc hỗn nguyên (CHAOS)</option>
                        <option value="7191">Ngọc sáng tạo</option>
                        <option value="6246">Ngọc Socket Cấp 1 (Nước)</option>
                        <option value="6247">Ngọc Socket Cấp 1 (Băng)</option>
                        <option value="6250">Ngọc Socket Cấp 1 (Đất)</option>
                        <option value="6248">Ngọc Socket Cấp 1 (Gió)</option>
                        <option value="6245">Ngọc Socket Cấp 1 (Lửa)</option>
                        <option value="6249">Ngọc Socket Cấp 1 (Sét)</option>
                        <option value="6253">Ngọc Socket Cấp 2(Băng)</option>
                        <option value="6256">Ngọc Socket Cấp 2(Đất)</option>
                        <option value="6254">Ngọc Socket Cấp 2(Gió)</option>
                        <option value="6251">Ngọc Socket Cấp 2(Lửa)</option>
                        <option value="6252">Ngọc Socket Cấp 2(Nước)</option>
                        <option value="6255">Ngọc Socket Cấp 2(Sét)</option>
                        <option value="6259">Ngọc Socket Cấp 3(Băng)</option>
                        <option value="6262">Ngọc Socket Cấp 3(Đất)</option>
                        <option value="6260">Ngọc Socket Cấp 3(Gió)</option>
                        <option value="6257">Ngọc Socket Cấp 3(Lửa)</option>
                        <option value="6258">Ngọc Socket Cấp 3(Nước)</option>
                        <option value="6261">Ngọc Socket Cấp 3(Sét)</option>
                        <option value="6265">Ngọc Socket Cấp 4(Băng)</option>
                        <option value="6268">Ngọc Socket Cấp 4(Đất)</option>
                        <option value="6266">Ngọc Socket Cấp 4(Gió)</option>
                        <option value="6263">Ngọc Socket Cấp 4(Lửa)</option>
                        <option value="6264">Ngọc Socket Cấp 4(Nước)</option>
                        <option value="6267">Ngọc Socket Cấp 4(Sét)</option>
                        <option value="6271">Ngọc Socket Cấp 5(Băng)</option>
                        <option value="6274">Ngọc Socket Cấp 5(Đất)</option>
                        <option value="6272">Ngọc Socket Cấp 5(Gió)</option>
                        <option value="6269">Ngọc Socket Cấp 5(Lửa)</option>
                        <option value="6270">Ngọc Socket Cấp 5(Nước)</option>
                        <option value="6273">Ngọc Socket Cấp 5(Sét)</option>
                        <option value="7330">Ngọc Tinh Chế</option>
                        <option value="6709">Ngọn lửa Condor</option>
                        <option value="7234">Ngọn Lửa Hiệp Sĩ</option>
                        <option value="6873">Nhân Ngư</option>
                        <option value="6869">Rồng</option>
                        <option value="6870">Rồng Chiến</option>
                        <option value="7235">Sừng Địa Ngục</option>
                        <option value="6871">Thạch</option>
                        <option value="6872">Tiên Thạch</option>
                        <option value="6867">Trứng Thú</option>
                        <option value="7345">Vua Xương</option>
                    </select>
                </div>-->

            <div class="col-md-4">
                <div class="form-group input-group">
                    <input type="text" class="form-control" ng-model="searchKey" id="nameacc" value="" placeholder="Tim người bán">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="submit" ng-click="submit(0, '0', '', searchKey)"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>

        <div class="item-content-list col-md-12 mt-2">
            <div class="row row-xs">
                <div class="m-2" ng-repeat="item in listItem" style="width: 130px;">
                    <div class="item-list-boder r-3x">
                        <div class="text-center">
                            <div class="m-b pt-2">
                                <button class="btn btn-xs white text-blue" tooltip-placement="top"
                                        uib-tooltip="Đồ level +{{item.level}}">+ {{item.level}}
                                </button>
                                <button class="btn btn-xs white text-danger" tooltip-placement="top" style="margin-left: -6px;"
                                        uib-tooltip="Đồ có {{item.exc_total}} dòng hoàn hảo">{{item.exc_total}} <i class="fa fa-star"></i>
                                </button>
                                <button class="btn btn-xs white" style="margin-left: -6px;" ng-click="submit(0, '0', item.item_group)" tooltip-placement="top" 
                                        uib-tooltip="Mời click để tìm đồ cùng loại"><i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row-col text-center">
                            <a uib-popover-template="'template1.html'" popover-title="{{item.person_sell}} bán {{item.price | number}} bạc lúc {{item.date_sell}}" 
                                data-popover-trigger="mouseenter" popover-placement="bottom" data-animation="am-flip-x">
                                <div data-toggle="popover" style="cursor: pointer; min-height: 65px">
                                    <img ng-src="assets/images/items/{{item.image}}.gif" style="max-height:65px; max-width:80px;">
                                </div>
                            </a>
                        </div>
                        <div class="text-center pt-2">
                            <i class="text-muted fa fa-user"></i>
                            <a class="text-info sm" ng-click="submit(0, '0', '', item.person_sell)" tooltip-placement="bottom"
                               uib-tooltip="Click để tìm kiếm các món hàng của {{item.person_sell}}">{{item.person_sell}}</a>
                        </div>
                        <div class="pt-2 pb-2 text-center">
                            <button class="btn btn-outline b-warn text-warn btn-xs" data-toggle="modal"
                                    data-target="#buyItemModal" ng-click="selectItem(item)"><i class="fa fa-btc"></i> {{item.price | number}}</button>
                        </div>
                    </div>
                    <script id="template1.html" type="text/ng-template">
                        <p ng-bind-html="item.info"></p>
                    </script>
                </div>
            </div>
            

            <!-- <div class="content-grid height-xs-3">
                <ul class="list-wrapper">
                    <li style="width:129px;" ng-repeat="item in listItem">
                        <div class="menu-text align-center" style="height:50px">
                            <div class="menu-name" style="margin-top:10px">
                                <div class="btn-group btn-group-xs  mgbt-xs-5">
                                    <button type="button" class="btn btn-default" data-toggle="tooltip" ng-if="!item.level" tooltip style="color: #a0a0a0" data-original-title="Đồ level +{{item.level}}">
                                        +{{item.level}}

                                        <button type="button" class="btn btn-default" data-toggle="tooltip"
                                                ng-if="item.level" tooltip
                                                style="color: #0000ff" data-original-title="Đồ level +{{item.level}}">
                                            +{{item.level}}
                                        </button>

                                    <button type="button" class="btn btn-default" data-toggle="tooltip" ng-if="item.exc_total" tooltip style="color: blue" data-original-title="Đồ có {{item.exc_total}} dòng hoàn hảo">
                                            {{item.exc_total}} <i
                                                    class="fa fa-star"></i></button>

                                    <button type="button" class="btn btn-default" data-toggle="tooltip" ng-if="!item.exc_total" tooltip style="color: #a0a0a0"
                                        data-original-title="Đồ có {{item.exc_total}} dòng hoàn hảo">
                                            {{item.exc_total}} <i
                                                    class="fa fa-star"></i></button>

                                    <button type="button" class="btn btn-default" tooltip ng-click="submit(0, '0', item.item_group)" data-original-title="Mời click để tìm đồ cùng loại"><i
                                                    class="fa fa-search"></i></button>
                                </div>
                            </div>
                            <a popover-title="{{item.person_sell}} bán {{item.price}} bạc lúc {{item.date_sell}}" popover-template="template.html" data-popover-trigger="mouseenter"
                                popover-placement="bottom" data-toggle="modal" data-target="#buyItemModal" ng-click="selectItem(item)">
                                <div class="menu-icon" data-toggle="popover" style="cursor: pointer">
                                    <img ng-src="assets/images/items/{{item.image}}.gif" style="max-height:65px; max-width:80px;">
                                </div>
                            </a>

                            <script id="template.html" type="text/ng-template">
                                <p ng-bind-html="item.info"></p>
                            </script>

                            <div class="menu-info">
                                <div class="menu-date"><i class="fa fa-user"></i> <a ng-click="submit(0, '0', '', search_key)" data-original-title="Click để tìm kiếm các món hàng của  {{item.person_sell}}"
                                        tooltip>{{item.person_sell}}</a>
                                </div>
                                <div class="menu-action">{{item.price | number}}&nbsp;bạc</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div> -->

            <div role="toolbar" class="mgbt-xs-20">
                <center>
                    <br>
                    <div class="btn-group">
                        <button class="btn btn-default" type="button" ng-click="submit(0, '0', '', '')">Tất cả
                        </button>
                    </div>


                    <div class="btn-group">
                        <button class="btn btn-default" type="button" ng-click="submit(0, selectClass, selectGroup)">
                            Trang đầu
                        </button>

                        <button ng-if="page > 0" class="btn btn-info" type="button" ng-click="submit(page - 1, selectClass, selectGroup, searchKey)">
                            <i class="fa fa-angle-left"></i> Trước
                        </button>

                        <button class="btn btn-default" type="button">-</button>

                        <button ng-if="listItem.length >= 20" class="btn btn-info" type="button" ng-click="submit(page + 1, selectClass, selectGroup, searchKey)">
                            Tiếp <i class="fa fa-angle-right"></i></button>
                    </div>

                    <div class="btn-group">
                        <button class="btn btn-warning" type="button" ng-click="submit(0, '0', '', charChoose.Name)">Đồ của bạn</button>
                    </div>
                </center>
            </div>
        </div>

        <div class="alert alert-info mt-5">
            1. Những món đồ bán ở đây là do thành viên đăng bán.<br>
            2. Bạn mua đồ trên chợ ảo hoàn toàn an tâm, không bị lừa đảo<br>
            3. Khi mua đồ, bạn phải chịu thuế VAT 1%<br>
            4. Món đồ sẽ được chuyển vào hòm đồ của bạn.<br>
            5. Click vào <b>đồ của bạn</b> để xem những món hàng bạn đã đăng, khi mua những món hàng của chính bạn, bạn
            sẽ không phải trả phí.<br>
            7. Bạn muốn đăng bán đồ, hãy sử dụng <a ui-sref="app.shop.ware-house">Quản lý hòm dồ</a><br>
        </div>
    </div>
</div>

<div class="modal fade" id="buyItemModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-custom">
                <h5 class="modal-title">Mua đồ ({{user.memb___id}})</h5>
                <div class="bootstrap-dialog-close-button" style="display: block;">
                    <button class="close modal-header-custom" data-dismiss="modal">×</button>
                </div>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div style="text-align: center;">
                            <img ng-src="assets/images/items/{{itemChoose.image}}.gif" border="0"
                                    popover-title="{{item.name}}" uib-popover-template="'template2.html'"
                                    data-popover-trigger="mouseenter" popover-placement="bottom"
                                    style="margin: auto;max-height:100px; max-width:100px; cursor: pointer;">

                            <script id="template2.html" type="text/ng-template">
                                <p ng-bind-html="itemChoose.info"></p>
                            </script>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 text-right">Giá mua</label>
                        <div class="col-md-7">
                            <input type="hidden" class="form-control" placeholder="Giá mua">
                            <p class="label green-500 text-sm"><strong>{{itemChoose.price | number}}
                                    Bạc</strong>
                            </p></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 text-right">Mật khẩu cấp 2</label>
                        <div class="col-md-7">
                            <input type="password" class="form-control rounded" ng-model="pass2" value="" placeholder="********">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="display: block;">
                <div class="text-right">
                    <button type="submit" class="btn btn-success" ng-click="buyItem()">Mua đồ về hòm đồ</button>
                    <button class="btn btn-danger" data-dismiss="modal">Đóng lại</button>
                </div>
            </div>
        </div>
    </div>
</div>