<div ng-if="res.status == 0" class="alert alert-danger ng-binding" ng-bind-html="res.message"></div>
<div ng-if="res.status == 1" class="alert alert-success ng-binding" ng-bind-html="res.message"></div>

<div class="box">
    <div class="box-header">
        <h2>Xổ Số Thủ Đô</h2>
    </div>
    <div class="box-divider m-a-0"></div>
    <div class="alert alert-info m-3">
        1. Nếu tổng số point của bạn > 65.000 Point thì bạn hãy vào phần
        <a class="nav-link label accent" href="http://themeforest.net/user/flatfull/portfolio?ref=flatfull">Rút
            Point</a> để rút phần point còn lại.<br>
    </div>
    <div class="box-body">
        <table class="table table-striped table-bordered table-hover table-heading no-border-bottom" id="customers">
            <thead>
            <tr>
                <td colspan="13">
                    <div class="col-sm-12 text-center">
                        <h2 class="col-sm-12">Xổ số Truyền Thống</h2>
                    </div>
                    <div class="col-sm-12">
                        <span class="pull-left col-sm-6" id="result_date">Thứ hai ngày 20-11-2017</span>
                        <span class="pull-right col-sm-6">Ký tự trúng giải: <span id="rs_8_0" class="need_blank">7FC-12FC-14FC</span>
                            </span>
                    </div>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="width:16%;vertical-align:middle;font-size:16px;color:red;">Đặc biệt</td>
                <td id="rs_0_0" colspan="12" style="width:84%;" class="text-u-c _600 text-center text-danger">33137</td>
            </tr>
            <tr>
                <td style="width:16%;vertical-align:middle;font-size:16px;">Giải nhất</td>
                <td id="rs_1_0" colspan="12" style="width:84%;" class="text-u-c _600 text-center">31379</td>
            </tr>
            <tr>
                <td style="width:16%;vertical-align:middle;font-size:16px;">Giải nhì</td>
                <td id="rs_2_0" colspan="6" style="width:42%;" class="text-u-c _600 text-center">70063</td>
                <td id="rs_2_1" colspan="6" style="width:42%;" class="text-u-c _600 text-center">65221</td>
            </tr>
            <tr>
                <td rowspan="2" style="width:16%;vertical-align:middle;font-size:16px;">Giải ba</td>
                <td id="rs_3_0" colspan="4" style="width:28%;" class="text-u-c _600 text-center">75386</td>
                <td id="rs_3_1" colspan="4" style="width:28%;" class="text-u-c _600 text-center">14838</td>
                <td id="rs_3_2" colspan="4" style="width:28%;" class="text-u-c _600 text-center">05530</td>
            </tr>
            <tr>
                <td style="display:none"></td>
                <td id="rs_3_3" colspan="4" style="width:28%;" class="text-u-c _600 text-center">36885</td>
                <td id="rs_3_4" colspan="4" style="width:28%;" class="text-u-c _600 text-center">41952</td>
                <td id="rs_3_5" colspan="4" style="width:28%;" class="text-u-c _600 text-center">26760</td>
            </tr>
            <tr>
                <td style="width:16%;vertical-align:middle;font-size:16px;">Giải tư</td>
                <td id="rs_4_0" colspan="3" style="width:21%;" class="text-u-c _600 text-center">8421</td>
                <td id="rs_4_1" colspan="3" style="width:21%;" class="text-u-c _600 text-center">2047</td>
                <td id="rs_4_2" colspan="3" style="width:21%;" class="text-u-c _600 text-center">3542</td>
                <td id="rs_4_3" colspan="3" style="width:21%;" class="text-u-c _600 text-center">5913</td>
            </tr>
            <tr>
                <td rowspan="2" style="width:16%;vertical-align:middle;font-size:16px;">Giải năm</td>
                <td id="rs_5_0" colspan="4" style="width:28%;" class="text-u-c _600 text-center">9857</td>
                <td id="rs_5_1" colspan="4" style="width:28%;" class="text-u-c _600 text-center">2267</td>
                <td id="rs_5_2" colspan="4" style="width:28%;" class="text-u-c _600 text-center">7530</td>
            </tr>
            <tr>
                <td style="display:none"></td>
                <td id="rs_5_3" colspan="4" style="width:28%;" class="text-u-c _600 text-center">0153</td>
                <td id="rs_5_4" colspan="4" style="width:28%;" class="text-u-c _600 text-center">6210</td>
                <td id="rs_5_5" colspan="4" style="width:28%;" class="text-u-c _600 text-center">0149</td>
            </tr>
            <tr>
                <td style="width:16%;vertical-align:middle;font-size:16px;">Giải sáu</td>
                <td id="rs_6_0" colspan="4" style="width:28%;" class="text-u-c _600 text-center">900</td>
                <td id="rs_6_1" colspan="4" style="width:28%;" class="text-u-c _600 text-center">852</td>
                <td id="rs_6_2" colspan="4" style="width:28%;" class="text-u-c _600 text-center">797</td>
            </tr>
            <tr>
                <td style="width:16%;vertical-align:middle;font-size:16px;">Giải bảy</td>
                <td id="rs_7_0" colspan="3" style="width:21%;" class="text-u-c _600 text-center">02</td>
                <td id="rs_7_1" colspan="3" style="width:21%;" class="text-u-c _600 text-center">72</td>
                <td id="rs_7_2" colspan="3" style="width:21%;" class="text-u-c _600 text-center">12</td>
                <td id="rs_7_3" colspan="3" style="width:21%;" class="text-u-c _600 text-center">19</td>
            </tr>
            </tbody>
        </table>
        <div class="box-divider m-a-0"></div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label _600 text-right">Mời bạn chọn lệnh</label>
        <div class="col-sm-7 controls">
            <p><label class="md-check"><input type="radio" name="radio" ng-model="myAct" value="guizen">
                <i class="blue"></i> Đánh Lô</label>
            </p>
            <p><label class="md-check"><input type="radio" name="radio" ng-model="myAct" value="rutzen">
                <i class="blue"></i> Đánh Đề</label>
            </p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label _600 text-right pt-2" id="label-quality">Số lượng</label>
        <div class="col-sm-7">
            <input type="text" currency-input="" class="form-control" ng-model="quality" ng-change="RutGuiJewel()" ng-blur="RutGuiJewel(quality)"
                   placeholder="Số lượng">
            <em class="help-block" id="help-quality" ng-show="showInfo">{{infoJewelAction}}</em>
        </div>
    </div>
    <div class="dker p-a text-center">
        <button type="submit" class="btn btn-info" ng-click="submit()">Submit</button>
    </div>
</div>