<div ng-if="res.status == 0" class="alert alert-danger ng-binding" ng-bind-html="res.message"></div>
<div ng-if="res.status == 1" class="alert alert-success ng-binding" ng-bind-html="res.message"></div>

<div class="box">
    <div class="box-header">
        <h2>Xóa đồ cho nhân vật {{charChoose.Name}}</h2>
    </div>
    <div class="box-divider m-a-0"></div>
    <div class="alert alert-info m-3">
      1. Bạn nên bỏ toàn bộ đồ có giá trị trên người nhân vật vào hòm đồ chung rồi mới thực hiện chức năng
      này.<br>
      2. Nhân vật Xóa đồ không được đang trong Game<br>
      3.<b> <i>Nếu xóa nhầm thì sẽ không khôi phục được đồ.</i></b>
    </div>
    <div class="box-body">
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">Đổi nhân vật</label>
            <div class="col-sm-7">
                <span class="label green-500" ng-show="charChoose.doinv">Đã đổi</span>
                <span class="label red-500" ng-show="!charChoose.doinv">Chưa đổi</span><br>
                <small>(Sau khi đổi nhân vật khác trong Game, hãy chọn lại nhân vật)</small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">Thoát game</label>
            <div class="col-sm-7">
                <label class="label green-500" ng-show="charChoose.online">Đã thoát</label>
                <label class="label red-500" ng-show="!charChoose.online">Chưa thoát</label>
            </div>
        </div>
        <div class="box-divider m-a-0 mb-2 col-md-7 push-md-3"></div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">Mật khẩu cấp 2</label>
            <div class="col-sm-7">
                <input type="password" class="form-control" ng-model="pass2" value=""
                       placeholder="*********" maxlength="6">
            </div>
        </div>

    </div>
    <div class="dker p-a text-center">
        <button type="submit" class="btn btn-info" ng-click="submit()">Submit</button>
    </div>
</div>
