<div ng-if="res.status == 0" class="alert alert-danger ng-binding" ng-bind-html="res.message"></div>
<div ng-if="res.status == 1" class="alert alert-success ng-binding" ng-bind-html="res.message"></div>

<div class="box">
    <div class="box-header">
        <h2>Reset skill master cho nhân vật {{charChoose.Name}}</h2>
    </div>
    <div class="box-divider m-a-0"></div>
    <div class="alert alert-info m-3">
        1. Reset lại điểm master cho nhân vật<br>
        2. Sau khi reset toàn bộ skill sẽ bị mất. Cần phải vào game học lại<br>
        3. Được sử dụng Bạc + Bạc khoá. <br>
        4. ZEN phải được gửi trong ngân hàng.
    </div>
    <div class="box-body">
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">Bạc cần</label>
            <div class="col-sm-7">
                <label>
                    <span class="label light-blue-500">{{sliverNeed | number}}</span>
                    <span class="text-danger" ng-if="bankInfo.bank_sliver + bankInfo.bank_sliver_lock - sliverNeed < 0">
                        (Thiếu {{sliverNeed - bankInfo.bank_sliver - bankInfo.bank_sliver_lock | number}} bạc)
                    </span><br>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">Zen cần</label>
            <div class="col-sm-7">
                <label>
                    <span class="label light-blue-500">{{zenNeed*1000000 | number}}</span>
                    <span class="text-danger" ng-if="bankInfo.bank_zen - zenNeed < 0">
                        (Thiếu {{zenNeed - bankInfo.bank_zen | number}} Triệu Zen)
                    </span><br>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">Đổi nhân vật</label>
            <div class="col-sm-7">
                <span class="label green-500" ng-show="charChoose.doinv">Đã đổi</span>
                <span class="label red-500" ng-show="!charChoose.doinv">Chưa đổi</span><br>
                <small>(Sau khi đổi nhân vật khác trong Game, hãy chọn lại nhân vật)</small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">Thoát game</label>
            <div class="col-sm-7">
                <label class="label green-500" ng-show="charChoose.online == 0">Đã thoát</label>
                <label class="label red-500" ng-show="charChoose.online == 1">Chưa thoát</label>
            </div>
        </div>
        <div class="box-divider m-a-0 mb-2 col-md-7 push-md-3"></div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">Mật khẩu cấp 2</label>
            <div class="col-sm-7">
                <input type="password" class="form-control" ng-model="pass2" value=""
                       placeholder="*********" maxlength="50">
            </div>
        </div>

    </div>
    <div class="dker p-a text-right">
        <button type="submit" class="btn btn-info" ng-click="submit()">Submit</button>
    </div>
</div>
